@import '../../index.scss';

.wrapper {
  margin: 0;
  color: #FFF;
  font-family: 'Roboto', sans-serif;

  p {
    font-family: 'GothamMedium';
  }

  .banner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    visibility: hidden;

    @include md {
      top: 50%;
      visibility: visible;
    }
    @include lg {
      top: 40%;
      visibility: visible;
    }
  }

  .center {
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;

    @include md {
      top: 50%;
    }
    @include lg {
      top: 40%;
      visibility: visible;
    }
  
    .progress {
      font-family: 'Heavitas', 'Roboto', sans-serif;
      color:  #EF8395;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 5px 10px;
      background-color: none;
      margin-left: auto;
      margin-right: auto;
      font-size: 3em;
      font-weight: 800;
      span {
        color: #7f5e9f;
      }
    }
  }

  .bottom {
    z-index: 100;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    color: white;

    @include md {
      top: 85%;
    }
    @include lg {
      top: 80%;
    }
    @include xl {
      top: 75%;
    }
    @include xxl {
      top: 60%;
    }

    .submit {
      margin: 0 auto;
      width: 110px;
      background-color: #0c092293;
      border: 2px solid #EF8395;
      padding: 20px;
      border-radius: 4px;
      margin-bottom: 6px;

      .mint {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
  
        .quantity {
          font-size: 3em;

          button {
            width: 100%;
            display: block;
            text-transform: uppercase;
            background-color: #0C0922;
            color: white;
            padding: 6px 12px;
            font-size: 18px;
            font-weight: 600;
            border: 2px solid #EF8395;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
            
            &:first-child {
              margin-bottom: 5px;
  
            }

            &:hover {
              background-color: black;
              color:  #EF8395;
              cursor: pointer;
              border: 2px solid #EF8395;
              border-radius: 4px;
            }
          }
        }
  
        .number {
          display: flex;
          align-items: center;
          font-family: 'Heavitas';
          font-size: 3em;
          padding: 25px 5px;
        }
      }
    }

    .button {
      width: 100%;
      text-transform: uppercase;
      background-color: #0C0922;
      color: white;
      padding: 6px 12px;
      font-size: 12px;
      font-weight: 600;
      border: 2px solid #EF8395;
      border-radius: 4px;

      &:hover {
        background-color: black;
        color:  #EF8395;
        cursor: pointer;
        border: 2px solid #EF8395;
        border-radius: 4px;
      }
    }
  }

  .error {
    position: relative;
    text-align: center;
  }
}

.perspective {
  @include md {
    transform: 
    perspective(500px)
    rotateX(10deg)
    rotateY(11deg)
    rotateZ(-4deg)
    translateX(-20px)
  }

}