@import '../../index.scss';

.wrapper {
  background-color: red;
  margin: 0;
  color: #FFF;
  font-family: 'Roboto', sans-serif;

  p {
    font-family: 'GothamMedium';
  }

  .banner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    visibility: hidden;
    z-index: 999;

    img {
      width: 300px;

      @include xxl {
        width: 500px;
      }
    }

    @include md {
      top: 45%;
      visibility: visible;
    }
    @include md {
      top: 40%;
      visibility: visible;
    }
  }

  .center {
    z-index: 100;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    
    img {
      width: 400px;

      @include xxl {
        width: 500px;
      }
    }
  
    .progress {
      font-family: 'Heavitas', sans-serif;
      color:  #EF8395;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 5px 10px;
      background-color: none;
      margin-left: auto;
      margin-right: auto;
      font-size: 3em;
      font-weight: 800;

      span {
        color: #7f5e9f;
      }

    }
    .price {
      margin-top: 2em;
    }
  }

  .bottom {
    z-index: 100;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    color: white;

    @include md {
      top: 85%;
    }
    @include lg {
      top: 80%;
    }
    @include xl {
      top: 75%;
    }
    @include xxl {
      top: 60%;
    }

    .notice {
      margin: 0 auto;
      background-color: #0c092293;
      padding: 20px;
      border-radius: 4px;
      p {
        margin-bottom: 0;
      }
    }

    .submit {
      margin: 0 auto;
      width: 110px;
      background-color: #0c092293;
      border: 2px solid #EF8395;
      padding: 20px;
      border-radius: 4px;
      margin-bottom: 6px;

      opacity: 1;
      animation-name: fade;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;

      .incubate {
        .number {
          font-family: 'Heavitas';
          font-size: 3em;
          padding: 25px 5px;
        }
      }
    }

    .button {
      width: 100%;
      text-transform: uppercase;
      background-color: #0C0922;
      color: white;
      padding: 8px 5px;
      font-size: 1em;
      font-weight: 600;
      border: 2px solid #EF8395;
      border-radius: 4px;

      &:hover {
        background-color: black;
        color:  #EF8395;
        cursor: pointer;
        border: 2px solid #EF8395;
        border-radius: 4px;
      }
    }
  }

  .error {
    width: 154px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
  }
}

.toast {
  font-family: 'Roboto';
  color: #FFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}