.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 10px;
    background-color: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    border: 2px solid #EF8395;
    color: #FFF;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.firstItem {
    border-right: 2px solid #EF8395;
}

.title {
    color: white;
    font-family: 'Roboto', sans-serif;
}
